<div class="left">
    <table id="left-table">

      <th>Search</th>
      <tr><td><a href="inactivesearch.php?server={server}">Inactive Search</a></td></tr>
      <tr><td><a href="searchisland.php?server={server}">Search Island</a></td></tr>
      <tr><td><a href="searchtown.php?server={server}">Search Town</a></td></tr>
      <tr><td><a href="searchplayer.php?server={server}">Search Player</a></td></tr>
      <tr><td><a href="searchalliance.php?server={server}">Search Alliance</a></td></tr>
      <tr><td><a href="deluxe.php?server={server}">DELUXE</a></td></tr>
  </table>       
  <select name="pais" id="pais">
      <option value="es">España</option>
  </select>
  <br>
  <select name="server" id="server">
    <option value="Alpha" {Alpha}>Alpha</option>
    <option value="Kerberos" {Kerberos}>Kerberos</option>
  </select>
    
   
  </div>