<div class="left"><table id="left-table">

    <th>Statistics</th>
   <tr><td><a href="">Top Islands</a></td></tr>
   <tr><td><a href="../statistics/mostcities.php?server={server}">Most Cities</a></td></tr>
   <tr><td><a href="../statistics/townhall.php?server={server}">Town Hall</a></td></tr>
   <tr><td><a href="../statistics/playerstats.php?server={server}">Player Statistics</a></td></tr>
   <tr><td><a href="">Alliance Statistics</a></td></tr>
</table>         <select name="pais" id="pais">
    <option value="es">España</option>
</select>
<br>
<select name="server" id="server">
    <option value="Alpha" {Alpha}>Alpha</option>
    <option value="Kerberos" {Kerberos}>Kerberos</option>
</select>
  
 
</div>