<div class="left">

<table id="left-table">

    <th>Home</th>
    <tr><td><a href="../home/topplayer.php?server={server}">Top Players</a></td></tr>
    <tr><td><a href="../home/flopplayer.php?server={server}">Flop Players</a></td></tr>
    <tr><td><a href="../home/topalliances.php?server={server}">Top Alliances</a></td></tr>
    <tr><td><a href="../home/flopalliances.php?server={server}">Flop Alliances</a></td></tr>
    <tr><td><a href="">Show World</a></td></tr>
</table>        
 <select name="pais" id="pais">
    <option value="es">España</option>
</select>
<br>
<select name="server" id="server">
    <option value="Alpha" {Alpha}>Alpha</option>
    <option value="Kerberos" {Kerberos}>Kerberos</option>
</select>
  
 
</div>